{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center">Фреймворки Flask и FastAPI - Урок 3</h1>
<br>
<div class="row justify-content-md-center">
    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 1</h3>
        <p>
            Создать базу данных для хранения информации о студентах университета. <br>
            База данных должна содержать две таблицы: "Студенты" и "Факультеты". <br>
            В таблице "Студенты" должны быть следующие поля: id, имя, фамилия,
            возраст, пол, группа и id факультета. <br>
            В таблице "Факультеты" должны быть следующие поля: id и название
            факультета. <br>
            Необходимо создать связь между таблицами "Студенты" и "Факультеты". <br>
            Написать функцию-обработчик, которая будет выводить список всех
            студентов с указанием их факультета.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task1_index') }}">
            Перейти
        </a>
    </div>

    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 2</h3>
        <p>
            Создать базу данных для хранения информации о книгах в библиотеке. <br>
            База данных должна содержать две таблицы: "Книги" и "Авторы". <br>
            В таблице "Книги" должны быть следующие поля: id, название, год издания,
            количество экземпляров и id автора. <br>
            В таблице "Авторы" должны быть следующие поля: id, имя и фамилия. <br>
            Необходимо создать связь между таблицами "Книги" и "Авторы". <br>
            Написать функцию-обработчик, которая будет выводить список всех книг с
            указанием их авторов.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task2_index') }}">
            Перейти
        </a>
    </div>

    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 3</h3>
        <p>
            Доработаем задача про студентов <br>
            Создать базу данных для хранения информации о студентах и их оценках в
            учебном заведении. <br>
            База данных должна содержать две таблицы: "Студенты" и "Оценки". <br>
            В таблице "Студенты" должны быть следующие поля: id, имя, фамилия, группа
            и email. <br>
            В таблице "Оценки" должны быть следующие поля: id, id студента, название
            предмета и оценка. <br>
            Необходимо создать связь между таблицами "Студенты" и "Оценки". <br>
            Написать функцию-обработчик, которая будет выводить список всех
            студентов с указанием их оценок.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task3_index') }}">
            Перейти
        </a>
    </div>

    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 4</h3>
        <p>
            Создайте форму регистрации пользователя с использованием Flask-WTF. <br>
            Форма должна содержать следующие поля:
        </p>
        <ul>
            <li>Имя пользователя (обязательное поле)</li>
            <li>Электронная почта (обязательное поле, с валидацией на корректность ввода email)</li>
            <li>Пароль (обязательное поле, с валидацией на минимальную длину пароля)</li>
            <li>Подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем)</li>
        </ul>
        <p>
            После отправки формы данные должны сохраняться в базе данных (можно использовать SQLite)
            и выводиться сообщение об успешной регистрации. <br>
            Если какое-то из обязательных полей не
            заполнено или данные не прошли валидацию, то должно выводиться соответствующее
            сообщение об ошибке. <br>
            Дополнительно: добавьте проверку на уникальность имени пользователя и электронной почты в
            базе данных. Если такой пользователь уже зарегистрирован, то должно выводиться сообщение
            об ошибке.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task4_registration') }}">
            Перейти
        </a>
    </div>

    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 5-6</h3>
        <p>
            Создать форму регистрации для пользователя. <br>
            Форма должна содержать поля: имя, электронная почта,
            пароль (с подтверждением), дата рождения, согласие на
            обработку персональных данных. <br>
            Валидация должна проверять, что все поля заполнены
            корректно (например, дата рождения должна быть в
            формате дд.мм.гггг). <br>
            При успешной регистрации пользователь должен быть
            перенаправлен на страницу подтверждения регистрации.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task5_registration') }}">
            Перейти
        </a>
    </div>

    <div class="col-8 mt-2">
        <h3 class="text-center">Задание 7-8</h3>
        <p>
            Создайте форму регистрации пользователей в приложении Flask. Форма должна
            содержать поля: имя, фамилия, email, пароль и подтверждение пароля. При отправке
            формы данные должны валидироваться на следующие условия:
        </p>
        <ul>
            <li>Все поля обязательны для заполнения.</li>
            <li>Поле email должно быть валидным email адресом.</li>
            <li>Поле пароль должен быть зашифрован,
                а так же содержать не менее 8 символов, включая хотя бы одну букву и одну цифру.</li>
            <li>Поле подтверждения пароля должно совпадать с полем пароля</li>
            <li>Если данные формы не прошли валидацию, на странице должна быть выведена
                соответствующая ошибка.
            </li>
            <li>
                Если данные формы прошли валидацию, на странице должно быть выведено
                сообщение об успешной регистрации.
            </li>
        </ul>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

</div>
<br><br>
{% endblock %}